<h3>Write something!</h3>
<form action="/tweets" method="POST">
  <label>New Tweet</label>
  <input type="text" name="content" placeholder="Write something here">

  <input type="submit" value="submit">
</form>
