<p><b>Welcome to Fwitter</b></p>
<p><b>High Tech Ftweets at your Ftwingertips</b></p>
<p><b>A social network for antisocial people</b></p>
<p><b>- - - - - - - - - - - - - - - - - - - </b></p>

  <% if logged_in? %>
    <p><b>Welcome, <%=current_user.username %></b></p>
    <a href="/tweets/new"> Create Tweet </a>
    <a href="/logout"> Log Out </a>

  <% else %>
    <p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.
  <%end %>
